@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.topNavBar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 8%;
	background-color: #333;
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: repeat(5, 1fr);
	align-items: center;
	text-align: center;
	grid-gap: 1em;
	border-bottom: 5px solid #4cf4bd;
}

.navLinks {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.2em;
	text-transform: uppercase;
	text-decoration: none;
	color: #ddd;
	margin: 10%;
}

.navpanel {
	position: absolute;
	width: 100%;
	height: 100%;
}

.navPanel:hover {
	padding: 1.3em;
	border: 2px solid #4cffbd;
}

.toHome {
	grid-column: 3;
}
