.modal {
	display: none;
	position: fixed;
	font-family: 'Ubuntu', sans-serif;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	border-radius: 5px;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	padding: 0px 20px;
	width: 20%;
	height: 45%;
	top: 20%;
	left: 50%;
	transform: translate(-50%, 0);
	box-shadow: 0 5px 8px rgba(50, 2200, 120, 0.4), 0 7px 20px rgba(50, 220, 120, 0.4);
	animation-name: modalOpen;
	animation-duration: 0.5s;
}

#closeBtn {
	color: #555;
	position: absolute;
	top: 2%;
	left: 90%;
	font-size: 30px;
}

#closeBtn:hover, #closeBtn:focus {
	color: #fc5d2d;
	text-decoration: none;
	cursor: pointer;
}

@keyframes modalOpen {
	from {opacity: 0}
	to {opacity: 1}
}

.login-box {
	width: 100%;
	height: 100%;
	padding: 20px 10px;
	font-size: 150%;
	color: white;
}

.login-box h1 {
	position: absolute;
	padding: 5px 0;
	margin-top: 5px;
	top: 2%;
	left: 10%;
	border-bottom: 5px solid #4cf4bd;
}

.textbox {
	width: 100%;
	overflow: hidden;
}

.userTextbox {
	position: absolute;
	padding: 10px 0px;
	margin: 0px;
	font-size: 25px;
	width: 80%;
	height: 10%;
	top: 35%;
	left: 10%;
	border-bottom: 1px solid #4cf4bd;
}

.passTextbox {
	position: absolute;
	font-size: 25px;
	width: 80%;
	height: 10%;
	top: 60%;
	left: 10%;
	border-bottom: 1px solid #4cf4bd;
}

.btn {
	position: absolute;
	top: 85%;
	width: 85%;
	left: 7.5%;
	height: 20%;
	font-size: 25px;
}
